---
---

@import "main";

/*  TEXT
========================================== */

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.03em;
}

.display-6 {
	font-size: calc(1rem + 1vw) !important;
}

p, span, b, li {
  color: #6c6e7a;
}

@media (min-width: 992px) {
	p {
		font-size: 18px;
		color: #6c6e7a;
	}
}

@media (min-width: 768px) {
	.text-md-left {
		text-align: left !important;
	}
}

/*  BACKGROUNDS
========================================== */

.bg-blue {
	background: #f4f9fa;
}

/*  BUTTONS
========================================== */

.btn {
	border-radius: 100px;
	border: 0;
}

.btn-primary, .navbar-text a.btn-primary {
	background: #e00b80;
	color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .navbar-text a.btn-primary:hover, .navbar-text a.btn-primary:focus {
	background: #cb0974;
	color: #ffffff;
}

.btn-secondary, .navbar-text a.btn-secondary {
	background: #ffffff;
	color: #000000;
	border: 1px solid #000000;
}

.btn-secondary:hover, .btn-secondary:focus, .navbar-text a.btn-secondary:hover, .navbar-text a.btn-secondary:focus {
	background: #e00b80;
	color: #ffffff;
	border: 1px solid #e00b80;
}

/*  NAVIGATION
========================================== */

.fixed-top {
	padding-top: 16px;
}

.header {
	border-radius: 30px;
	box-shadow: 0 0 16px rgba(0,0,0,.1);
}

@media (min-width: 768px) {
  .header {
  	border-radius: 40px;
  }
}

.navbar-light .navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

/*  FOOTER
========================================== */
.footer-item {
  width: 100%;
  text-align: center;
}

ul#horizontal-list {
  list-style: none;
  text-align: center;
  margin: auto auto;
  padding: 0;
}

ul#horizontal-list li {
  display: inline;
  margin: 0 10px;
}

ul#horizontal-list li a {
  color: #6c6e7a;
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer-item {
    width: auto;
    text-align: center;
  }
  ul#horizontal-list {
    margin-right: 0;
    text-align: right;
  }
  ul#horizontal-list li {
    float: right;
  }
}

/*  BURGER
========================================== */

.burger {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  right: 0;
  border-radius: 4px;
  z-index: 10;
}

.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}

.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #2a2a2a;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}

.burger span::before {
  top: -9px;
}

.burger span::after {
  top: 9px;
}

.burger.clicked span {
  background-color: transparent;
}

.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.burger:hover {
  cursor: pointer;
}

/*  SIGN UP
========================================== */

#mc_embed_signup form {
  padding: 0 !important;
}

#mc_embed_signup input.email {
  min-height: 62px !important;
  width: 100% !important;
  border: 1px solid #6a7882 !important;
}

#mc_embed_signup input {
  border: none !important;
}

#mc-embedded-subscribe {
  margin: auto auto !important;
  border-radius: 100px !important;
}

